.LoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LoginForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LinkForm {
    margin-left: 0.4rem;
}