* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.backdrop {
    background: rgba(145, 154, 150, 0.3);
    backdrop-filter: blur(2px);

    width: 100%;
    min-height: 100vh;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 3;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.modal-update {
    background-color: #FFFF;
    border-radius: 3.0rem;
    width: 49.1rem;
    margin: 5rem 0;
    padding: 4.0rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.close-btn {
    position: absolute;
    top: 3.0rem;
    right: 3.0rem;

    width: 1.7rem;
    height: 1.8rem;

    cursor: pointer;
}

.modal-update h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 130%;

    color: #343447;
}

.container-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    position: relative;
}

.container-inputs input {
    padding: 8px 12px;

    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    color: #667085;
}

.container-inputs label {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 20px;
    color: #344054;

    margin-bottom: 6px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-duo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-duo input {
    width: 177px;
    height: 44px;
}

.div-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-btn button {
    margin-top: 20px;

    background: #DA0175;
    border-radius: 8px;
    border: none;
    padding: 4px 40px;
    gap: 4px;

    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 25px;
    color: #F8F8F9;
}

.div-btn button:hover {
    transform: scale(1.01);
    opacity: 0.9;
}

.img-eye-off {
    position: absolute;
    width: 18px;
    height: 20px;

    left: 380px;
    right: 100px;
    top: 36px;
    cursor: pointer;
}

.container-inputs span {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.4rem;

    color: #E70000;
}

.none {
    display: none;
}

.altered-successfully {
    height: 44%;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 2.4rem;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: #343447;
    text-align: center;

    padding: 0 9.8rem;
    border-radius: 3.0rem;
    background-color: #FFFF;

    margin: 5rem 0;
}

.altered-successfully span {
    text-align: center;
}